In [1]:
import pandas as pd
df = pd.read_csv('salaries_by_college_major.csv')
clean_df = df.dropna()

In [12]:
# Challenge-597

print("What college major has the highest mid-career salary?")
idx = clean_df['Mid-Career Median Salary'].idxmax()
print(clean_df['Undergraduate Major'][idx])

print("-"*50)

print("Which college major has the lowest starting salary and how much do graduates earn after university?")
idx = clean_df['Starting Median Salary'].idxmin()
print(clean_df['Undergraduate Major'][idx],": ", clean_df['Starting Median Salary'][idx])

print("-"*50)

print("Which college major has the lowest mid-career salary and how much can people expect to earn with this degree? ")
idx = clean_df['Mid-Career Median Salary'].idxmin()
print(clean_df['Undergraduate Major'][idx],": ", clean_df['Mid-Career Median Salary'][idx])

What college major has the highest mid-career salary?
Chemical Engineering
--------------------------------------------------
Which college major has the lowest starting salary and how much do graduates earn after university?
Spanish :  34000.0
--------------------------------------------------
Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?
Education :  52000.0

In [18]:
# Challenge-598

# Using the .sort_values() method, can you find the degrees with the highest potential?
# Find the top 5 degrees with the highest values in the 90th percentile. 
highest_potential = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)
highest_potential[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()


# Also, find the degrees with the greatest spread in salaries. 
# Which majors have the largest difference between high and low earners after graduation.

# spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
# clean_df.insert(1, 'Spread', spread_col)
low_risk = clean_df.sort_values('Spread', ascending=False)
low_risk[['Undergraduate Major', 'Spread']].head()

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0